.nav-links {
  position: absolute;
  right: 0;
  top: 39px;
  height: 100vh;
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  z-index: auto !important;
}
.nav-links div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 35px;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: $page-width){
  body {
    overflow-x: hidden;
  }
  .nav-links {
    width: 100%;
  }
}

.nav-active{
  transform: translateX(0%);
}

.burger-x .line1{
  transform: rotate(-225deg) translate(5px, -6px);
}
.burger-x .line2{
  opacity: 0
}
.burger-x .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
