@font-face {
  font-family: "scorpiotailmedium";
  src: url("../fonts/scorpiotail-webfont.woff2") format("woff2"),
    url("../fonts/scorpiotail-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
